@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  button {
    width: 200px;
    margin: 5px 20px;
    background-color: #f78888;
    color: #ececec;
  }
  
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth {
    background-color: #90ccf4;
    width: 80vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  
  
  .signin, .signup {
    display: none;
    text-align: center;
  }
  
  
  .signin input {
    display: block;
  }
  
  .signup p, .signin p {
    max-width: 80vw;
    overflow: hidden;
  }
  
  .signin-output {
    display: none;
  }
  
  .after-auth {
    display: none;
  }
  
  .createnft-err, .createnft-suc {
    display: none;
  }