@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
  --pri-dark: #02000d;
  --sec-dark: #07203f;
  --pri-light: #d9aa90;
  --sec-light: #f1d2b2;
  --tert: #a65e46;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--sec-light);
  padding-bottom: 45vh;
}

.landing {
  /* background-color: var(--pri-dark); */
  background-image: linear-gradient(135deg, var(--sec-dark), var(--pri-dark));
  color: var(--pri-light);
  padding-bottom: 30px;
}

nav ul {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a {
  margin: 0 5vw;
  text-decoration: none;
  border-bottom: var(--tert) 2px solid;
  color: var(--pri-light);
  border-radius: 2px;
  padding: 5px;
  transition: 0.7s;
}

.active {
  font-size: 24px;
  background-color: rgba(217, 170, 144, 0.9) !important;
  color: var(--pri-dark) !important;
}

.unactive:hover {
  font-size: 24px;
  border-bottom: var(--pri-light) 1px solid;
  background-color: rgba(217, 170, 144, 0.7) !important;
  color: black;
}

.success {
  color: green;
}

.failure {
  color: red;
}


.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth {
  background-color: #90ccf4;
  width: 80vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth .buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}


.signin,
.signup {
  display: none;
  text-align: center;
}


.signin input {
  display: block;
}

.signup p,
.signin p {
  max-width: 80vw;
  overflow: hidden;
}

.signin-output {
  display: none;
}

.after-auth {
  display: none;
}

.createnft-err,
.createnft-suc {
  display: none;
}


.token-info {
  display: none;
}