:root {
    --pri-dark: #02000d;
    --sec-dark: #07203f;
    --pri-light: #d9aa90;
    --sec-light: #f1d2b2;
    --tert: #a65e46;
}

.landing {
    /* background-color: var(--pri-dark); */
    background-image: linear-gradient(135deg, var(--sec-dark), var(--pri-dark));
    height: 75vh;
    color: var(--pri-light);
}

nav ul {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    margin: 0 5vw;
    text-decoration: none;
    border-bottom: var(--tert) 2px solid;
    color: var(--pri-light);
    border-radius: 2px;
    padding: 5px;
    transition: 0.7s;
}

.active {
    font-size: 24px;
    background-color: rgba(217, 170, 144, 0.9) !important;
    color: var(--pri-dark) !important;
}

.unactive:hover {
    font-size: 24px;
    border-bottom: var(--pri-light) 1px solid;
    background-color: rgba(217, 170, 144, 0.7) !important;
    color: black;
}

.grid-container {
    display: grid;
    height: 50vh;
    grid-template-columns: 40vw 60vw;
}

#landing-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-text svg {
    width: 45vw;
}

@media screen and (max-width: 1004px) {
    .landing {
        height: 100vh;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
        height: 40vh;
    }

    #landing-text svg {
        height: 90vw;
        width: 90vw;
        max-height: 45vh;
    }
}

.grid-item {
    padding: 3px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid-item h3 {
    margin-left: 20px;
    max-width: 75vw;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.flex-item {
    display: flex;
    align-items: center;
}

#royalty,
#safe,
#de {
    padding: 3px;
    height: 7vw;
    width: 7vw;
    max-width: 65px;
    max-height: 65px;
    background-size: cover;
}

#royalty {
    background-image: url('../images/black-royalty-crown-svgrepo-com.svg')
}

#safe {
    background-image: url('../images/secure-svgrepo-com.svg')
}

#de {
    background-image: url('../images/network-svgrepo-com.svg')
}